Don't touch the cat called moulinette
Don't smoke after 9PM in front of Paul building
Don't kick the vending machine
Don't put your bottle on your desk
Don't eat food inside clusters or drink anything not water
Don't disrespect staff members
Don't sleep inside clusters
Always have your badge on yourself


