--- PARIS ---

- Touch the cat called Moulinette
- Smoke after 9PM in front of Paul building
- Kick the vending machine
- Place your bottle on your desk
- Enjoy food and drinks other than water inside clusters
- Feel free to speak informally to staff members
- Take a nap inside clusters
- No need to carry your badge with you
- Unplug the cluster PC power cable or accessory cables as you like


--- SEOUL ---

- Enter the cluster even if under the influence of alcohol
- Play video games in the cluster
- Wear clothing that resembles the 42 Seoul staff uniform and act as a staff member during La Piscine
- Leave visitors unaccompanied within the 42 Seoul facility
- Use the computer’s speakers within the cluster
- Coordinate assessments with specific peers intentionally
- Attend the school even if expelled or during an account suspension period
- Use someone else’s access badge freely
- Skip parts of in-person peer assessments or conduct them remotely without prior approval
