--- PARIS ---


1) Don't touch the cat called moulinette
2) Don't smoke after 9PM in front of Paul building
3) Don't kick the vending machine
4) Don't put your bottle on your desk
5) Don't eat food inside clusters or drink anything not water
6) Don't disrespect staff members
7) Don't sleep inside clusters
8) Always have your badge on yourself


--- SEOUL ---


1) Entering the cluster while under the influence of alcohol.
2) Playing video games in the cluster.
3) Wearing attire that could be mistaken for a 42 Seoul staff uniform (e.g., clothing with “42 STAFF” or “42 BOCAL” labels) or pretending to be a staff member during La Piscine.
4) Leaving a visitor accompanied by a trainee alone within the 42 Seoul facility.
5) Using a computer’s speakers within the cluster.
6) Intentionally matching assessments with specific peers.
7) Attending the school while expelled or during an account suspension period.
8) Misusing someone else’s access badge.
9) Failing to conduct continuous in-person peer assessments from start to finish (with exceptions for approved online assessments).
10) Unplugging the cluster PC power cable or accessory cables without permission.
